.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#sidebar {
  background: #4C5760;
  width: 22rem;
}

.sidebar_header {
  color: rgba(255, 255, 255, .9);
  text-align:center;
  font-weight:bold;
}

.ui.form .field>label {
  color: rgba(255, 255, 255, .9);
  font-size: 1em;
}

.link_add {
  color: #229954;
}

.link_add:hover {
  color: #27ae60;
}

.link_remove {
  color: #CB4335;
}

.link_remove:hover {
    color: #E74C3C;
}

.link_div {
    margin-top: 25px;
    margin-left: -10px;
    font-size: 18px;
}
